header{
    height:100px;
    position:fixed;
    right:0;
    left:0;
    background-color: rgb(209, 106, 106);
    font-size:45px;   
}

nav{
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    background-color: rgb(209, 106, 106);
    width:60px;
}