@font-face{
    font-family: 'Oswald'; /*a name to be used later*/
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
}
    header{
    background-color:rgb(214, 214, 143);
    font-family:Oswald;
    Font-size:45px;
    -webkit-text-stroke: 0px 0px 1px 2px rgb(99, 19, 19);
    color:rgb(186, 18, 18)
    
}